.header {
    position: absolute;
    top: 0%;
    width: 98.8vw;
    height: 9vh;
    display: flex;
    align-items: center;
    z-index: 1000;
  }
  .name {
    position: relative;
    left: 10%;
    font-size: 2vw;
    font-family: 'Edu TAS Beginner', cursive;
    background: rgb(3,51,154);
    background: -webkit-linear-gradient(180deg, rgba(3,51,154,1), rgba(23,171,195,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header-items {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 26.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header-items a {
    color: #446CB5;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: 1s;
    font-size: 1vw;
  }
  .header-items a:hover {
    color: #083E9E;
  }
  .user {
    width: 20%;
  }
  .sign {
    position: relative;
    left: 35%;
    width: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .sign a {
    color: #446CB5;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 0.9vw;
  }