@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  width: 100vw;
  height: 100vh;
}
.parent {
  position: absolute;
  height: 100vh;
  left: 10%;
  width: 40vw;
  display: flex;
  align-items: center;
}
.welcome-text {
  position: relative;
  width: 100%;
  height: 70%;
}
.welcome-text h1 {
  color: #083E9E;
  font-size: 3.5vw;
  font-weight: bold;
}
.welcome-text h2 {
  position: relative;
  bottom: 3%;
  color: #083E9E;
  opacity: 90%;
  font-size: 2vw;
  font-family: 'Nunito', sans-serif;
}
.welcome-text p {
  position: relative;
  top: 5%;
  color: #083E9E;
  opacity: 80%;
  font-size: 1.1vw;
  width: 65%;
}
.getStarted {
  position: relative;
  top: 13%;
  width: 9vw;
  height: 5.5vh;
  outline: none;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, #17ABC3 , #03339A);
  color: white;
  font-size: 0.8vw;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  transition: 1s;
}
.learnMore {
  position: relative;
  top: 13%;
  left: 6%;
  width: 9vw;
  height: 5.5vh;
  outline: none;
  border: none;
  border-radius: 50px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, #17ABC3, #03339A) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  color: #03339A;
  font-size: 0.825vw;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  transition: 1s;
}
.gif {
  position: absolute;
  left: 55%;
  top: 16%;
  width: 38%;
  animation: gif 2s infinite;
}
.welcome-text section {
  position: relative;
  bottom: 1%;
  width: 18%;
  height: 1vh;
  background-image: linear-gradient(to right, #17ABC3 , #03339A);
  border-radius: 50px;
}
@keyframes gif {
  0% {
    transform: translate(0%, 0%);
  } 50% {
    transform: translate(0%, 1%);
  } 100% {
    transform: translate(0%, 0%);
  }
}