@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  background-image: url('../src/assets/back.png');
  width: 100vw;
  height: 100.5vh;
  background-position: center;
  background-size: cover;
}
.header {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 9vh;
  display: flex;
  align-items: center;
}
.name {
  position: relative;
  left: 10%;
  font-size: 2vw;
  font-family: 'Edu TAS Beginner', cursive;
  color: white;
}
.header-items {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 50%;
}
.header-items a {
  color: white;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  transition: 1s;
}
.header-items button {
  width: 8vw;
  height: 4vh;
  outline: none;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(to right, #f14268 , #e78260);
  color: white;
  font-size: 1vw;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 1s;
}
.header-items button:hover {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}
.header-items a:hover {
  transform: scale(1.05);
  color: #e78260;
}
img {
  position: relative;
  top: 24%;
  left: 55%;
  width: 40%;
  animation-name: image;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.welcome-text {
  position: absolute;
  top: 26%;
  left: 10%;
  width: 30%;
  height: 40vh;
  font-family: 'Nunito', sans-serif;
}
.welcome-text h1 {
  color: white;
  font-size: 3vw;
}
.welcome-text p {
  color: rgba(255, 255, 255, 0.715);
  font-size: 1.2vw;
}
.welcome-text button {
  position: relative;
  top: 7%;
  width: 8.5vw;
  height: 5vh;
  outline: none;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(to right, #f14268 , #e78260);
  color: white;
  font-size: 1vw;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 1s;
}
.welcome-text button:hover {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}



@keyframes image {
  0% {
    transform: scale(1);
    opacity: 70%;
  }
  50% {
    transform: scale(1.05);
    opacity: 100%;
  }
  100% {
    transform: scale(1);
    opacity: 70%;
  }
}